body.alt{
  background-color: black;
  color: white;
}

h1 {
    color: maroon;
    text-align: center;
    font-size: 36px;
}

body.alt h1 {
    color: white;
}

h2 {
    color: darkblue;
    text-align: center;
    font-size: 30px;
}

body.alt h2 {
    color: white;
}

nav {
  background-color: maroon;
}

body.alt nav{
  background-color: black;
}

nav ul {
  display: flex;     
  color: maroon;
}

body.alt nav ul {
  color: black;
}

nav li {
  padding: 14px 20px;
}

nav a {
  color: white;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.row {
  display: flex;
  width: 100%;
  height: 300px;      
}

.image-box,
.text-box {
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;     
  box-sizing: border-box;
}

.image-box img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.text-box {
  padding: 20px;
}

button {
  display: block;              
  margin: 40px auto;         
  padding: 15px 40px;         
  font-size: 18px;            
  background-color: maroon;  
  color: white;               
  border: none;  
}   

body.alt a {
  color: lightblue;
}