h1 {
    color: maroon;
    text-align: center;
    font-size: 36px;
}

nav {
  background-color: maroon;
}

nav ul {
  display: flex;      /* makes items go side-by-side */
  color: maroon;
}

nav li {
  padding: 14px 20px;
}

nav a {
  color: white;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.row {
  display: flex;
  width: 100%;
  height: 300px;      
}

.image-box,
.text-box {
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;     
  box-sizing: border-box;
}

.image-box img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.text-box {
  padding: 20px;
}
